[build]
command = "npm run build"
publish = "dist"

[[headers]]
for = "/api/*"
[headers.values]
Cache-Control = "no-store"

[[redirects]]
from = "/api/*"
to = "https://altitude-backend.uz/api/:splat"
status = 200
force = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
